<li>
	<h3>{{burger_name}}</h3>

	<button id="change-devoured" class="btn btn-sm btn-primary" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devoured}}PUT BACK{{else}}DEVOUR!{{/if}}
	</button>

	<button class="delete-burger btn btn-sm btn-danger" data-id="{{this.id}}">DELETE!</button>
</li>
